# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Default settings for all files
[*]
end_of_line = lf
insert_final_newline = true
indent_style = tab
indent_size = 4
tab_width = 4

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,py}]
charset = utf-8

# Linux kernel coding style for C files
[*.{c,h}]
indent_style = tab
indent_size = 8
tab_width = 8
max_line_length = 80

# Go uses tabs (gofmt standard)
[*.go]
indent_style = tab
indent_size = 4
tab_width = 4

# Makefiles require tabs (standard)
[Makefile]
indent_style = tab
indent_size = 4
tab_width = 4

# Org mode files require tab width of 8
[*.org]
indent_style = tab
tab_width = 8
