{{ if eq .chezmoi.os "windows" -}}
# Windows package installer temporarily disabled due to template rendering issue
# Packages are already installed
Write-Host "Package installation check skipped" -ForegroundColor Green
{{ end -}}
